
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de productos</h1>
    <form action="" method="post"></form>
    <table>
        <tr>
            <th>Id</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Proveedor</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Categoria</th>
            <th>Operaciones</th>
        </tr>
        {% for product in productos %}
        <tr>
            <td>{{product.id}}</td>
            <td>
                <img src="{{product.productImage}}" alt="product image"></img>
            </td>
            <td>{{product.productName}}</td>
            <td>{{product.productDescription}}</td>
            <td>Provider</td>
            <td>{{product.productPrice}}</td>
            <td>Cantidad</td>
            <td>{{product.productCategory}}</td>
            <td>
                <a href="read/{{product.id}}">Ver</a>
                <a href="update/{{product.id}}">Editar</a>
                <a href="delete/{{product.id}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <a href="create">Agregar producto</a>   
    </div>
</body>
</html>